
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title><%= titulo %></title>
  <meta name="description" content="Explora el mundo de i.am.br1, donde encontrarás música, videojuegos, y una galería de imágenes.">
  <meta name="keywords" content="i.am.br1, música, videojuegos, galería de imágenes, comentarios, arte digital, inspiración, fotografía, creatividad, entretenimiento, programación, desarrollo de software, juegos en línea, fotos inspiradoras, géneros musicales, artistas favoritos, música electrónica, rock, pop, techno, dubstep, juegos indie, juegos retro, desarrollo de videojuegos, diseño de juegos, edición de fotos, cámaras, fotografía creativa, fotos artísticas, portafolios de fotografía, inspiración fotográfica, codificación, desarrollo web, desarrollo de software, programación creativa, herramientas de desarrollo, productividad en programación, lenguajes de programación, balance vida-trabajo, motivación">

  <!-- Favicons -->
  <link href="/img/logo.png" rel="icon">
  

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/main.css" rel="stylesheet">

</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center  me-auto me-lg-0">
        
        <img src="/img/logo.png" alt="" style="border-radius: 20px;">
        <h1>i.am.br1</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li class="<%= titulo === 'I am Bruno' ? 'active' : '' %>"><a href="/">Inicio</a></li>
          <li class="<%= titulo === 'Acerca de' ? 'active' : '' %>"><a href="about">Acerca de</a></li>
          <li class="<%= titulo === 'Comentarios' ? 'active' : '' %>"><a href="comentarios">Comentarios</a></li>
          <li class="<%= titulo === 'Galería de imágenes' ? 'active' : '' %>"><a href="gallery">Galería</a></li>
          <li class="<%= titulo === 'Videojuegos' ? 'active' : '' %>"><a href="videogames">Videojuegos</a></li>
          <li class="<%= titulo === 'Música' ? 'active' : '' %>"><a href="music">Música</a></li>
        </ul>
      </nav><!-- .navbar -->
      

      <div class="header-social-links">
        <a href="https://open.spotify.com/playlist/4uZc1PXzFEljKIxLQcts8h" class="spotify"><i class="bi bi-spotify"></i></a>
        <a href="https://www.instagram.com/i.am_luiss_br1/" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://steamcommunity.com/id/I_AM_LuisssBr1/" class="steam"><i class="bi bi-steam"></i></a>
        <a href="https://www.wattpad.com/user/LuisBruno171?utm_source=android&utm_medium=link&utm_campaign=invitefriends" class="book"><i class="bi bi-book-fill"></i></a>

        
      </div>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

      
      
    </div>
  </header><!-- End Header -->